# Arquivos de configuração do editor
.vscode/

# Dependências do Node.js (caso venham a usar)
node_modules/

# Arquivos de build/distribuição
dist/
build/

# Arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente
.env
.env.local

